.hero {
  background-color: var(--color-shape-background);
  padding: 1.5rem 1.25rem 2.5rem;
  position: relative;
  min-height: 29rem;
}

.hero-background {
  position: absolute;
  inset: 0;
  background-image: url('/assets/backgrounds/hero-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  pointer-events: none;
}

.hero-inner {
  position: relative;
  z-index: 1;
  max-width: 23rem;
  margin: 0 auto;
}

.hero-title {
  font-size: 1.75rem;
  line-height: 1.2;
  color: var(--color-text-title);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-mobile {
  width: 4rem;
  height: 3rem;
  object-fit: contain;
}

.btn-assinar {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 5.56rem;
  height: 2.5rem;
  padding: 0 1.25rem;

  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  background-color: var(--color-pink-base);
  color: var(--color-text-title);
  font-size: var(--button);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.hero-content {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.hero-content p {
  font-size: 0.82rem;
  line-height: 1.4;
  color: var(--color-text-body);
  max-width: 20rem;
}