.hero {
  background-color: var(--color-shape-background);
  padding: 1.5rem 1.25rem 2.5rem;
  position: relative;
  min-height: 29rem;
}

.hero-background {
  position: absolute;
  inset: 0;
  background-image: url("../assets/backgrounds/hero-background.png"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  pointer-events: none;

  opacity: 0;
  animation: hero-background-fade-in 2s ease-out forwards;
}

.hero-inner {
  position: relative;
  z-index: 1;
  max-width: 23rem;
  margin: 0 auto;
}

.hero-title {
  font-size: 1.85rem;
  line-height: 1.1;
  color: var(--color-text-title);

  opacity: 0;
  transform: translateY(12px);

  animation: hero-content-fade-up 0.6s ease-out forwards;
  animation-delay: 2s;
}

.animation-herocontent {
  opacity: 0;
  transform: translateY(12px);

  animation: hero-content-fade-up 0.6s ease-out forwards;
  animation-delay: 2.6s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-mobile {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transform: rotate(0deg);

  transition: transform 0.18s ease-out;

  animation: navbar-logo-wobble 2s ease-out;
}

.btn-assinar {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 5.56rem;
  height: 2.5rem;
  padding: 0 1.25rem;

  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  background: radial-gradient(
      65.28% 65.28% at 50% 100%,
      rgba(223, 113, 255, 0.8) 0%,
      rgba(223, 113, 255, 0) 100%
    ),
    linear-gradient(0deg, #7a5af8, #7a5af8);

  color: var(--color-text-title);
  font-size: var(--button);
  font-weight: var(--fw-bold);
  cursor: pointer;

  position: relative;
  overflow: hidden;
}

.btn-assinar::before,
.btn-assinar::after {
  content: "";
  position: absolute;
  inset: var(--space);
  transition: all 0.5s ease-in-out;
  border-radius: calc(0.5rem - var(--space));
  z-index: 0;
}

.btn-assinar::before {
  --space: 1px;
  background: linear-gradient(
    177.95deg,
    rgba(255, 255, 255, 0.19) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.btn-assinar::after {
  --space: 2px;
  background: radial-gradient(
      65.28% 65.28% at 50% 100%,
      rgba(223, 113, 255, 0.8) 0%,
      rgba(223, 113, 255, 0) 100%
    ),
    linear-gradient(0deg, #7a5af8, #7a5af8);
}

.hero-content {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.hero-content p {
  font-size: 0.98rem;
  line-height: 1.4;
  color: var(--color-text-cz);
  max-width: 20rem;
}
