.info-text {
  background-color: var(--color-shape-background);
  padding: 7rem 1rem;
}

.hero-info {
  max-width: 23rem;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  
  position: relative; 
  padding-bottom: 4rem;
}

.hero-info-text {
  font-size: 1.2rem;
  line-height: var(--lh-base);
  color: var(--color-text-body);
}

.hero-info-icon {
  position: absolute;
  width: 2.3rem;
  height: auto;

  opacity: 0;
}

.hero-info-icon-1 {
  top: -2.7rem;
  right: 4rem;
  transform: rotate(7deg);
}

.hero-info-icon-2 {
  bottom: 2.6rem;
  left: 0rem;
  transform: rotate(-30deg);
}

.hero-info-icon-3 {
  bottom: 1.8rem;
  right: 0.3rem;
  transform: rotate(16deg);
}