.kit-inner {
  max-width: 23rem;
  margin: 0 auto;
}

.kit {
  background-color: var(--color-shape-background);
  padding: 2rem 1rem;
}

.kit-header {
  text-align: center;
}

.kit-title {
  font-size: var(--title-xb);
  line-height: var(--lh-auto);
  color: var(--color-text-title);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.kit-subtitle {
  font-size: var(--body-sm);
  line-height: var(--lh-base);
  font-weight: var(--fw-regular);
  color: var(--color-text-cz);
  padding-top: 0.5rem;
  margin-bottom: 7rem;
}

.kit-icon {
  width: 2.5rem;
  height: auto;
  flex-shrink: 0;

  transform-origin: center;
}

.kit-icon--left {
  animation: kit-icon-glide-left 8s ease-in-out infinite;
}

.kit-icon--right {
  animation: kit-icon-glide-right 8s ease-in-out infinite;
}

.kit-showcase {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 2rem;
}

.kit-labels {
  margin-top: 3rem;
}

.kit-orbit {
  width: 100%;
  max-width: 23rem;
  display: grid;
  position: relative;

  place-items: center;
}

.kit-item {
  max-width: 100%;
  height: auto;
  display: block;

  grid-area: 1/1;
  position: relative;
}

.kit-bookmark {
  width: 15.8%;
}

.kit-broche {
  width: 20.2%;
  z-index: 4;

  --kit-tx: -113%;
  --kit-ty: 110%;
  --kit-rot: 1deg;

  transform: translateX(var(--kit-tx)) translateY(var(--kit-ty))
    rotate(var(--kit-rot));

  opacity: 0;
  animation: kit-item-step-1 6s ease-in-out infinite;
}

.kit-book {
  width: 42%;

  z-index: 5;
}

.kit-bookmark-purple {
  z-index: 2;

  --kit-tx: 207%;
  --kit-ty: -11%;
  --kit-rot: 22.09deg;

  transform: translateX(var(--kit-tx)) translateY(var(--kit-ty))
    rotate(var(--kit-rot));

  opacity: 0;
  animation: kit-item-step-4 6s ease-in-out infinite;
}

.kit-bookmark-yellow {
  z-index: 3;

  --kit-tx: 150%;
  --kit-ty: -30%;
  --kit-rot: 11.72deg;

  transform: translateX(var(--kit-tx)) translateY(var(--kit-ty))
    rotate(var(--kit-rot));

  opacity: 0;
  animation: kit-item-step-3 6s ease-in-out infinite;
}

.kit-label {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--tag);
  color: var(--color-text-label);
  font-weight: var(--fw-regular);
  line-height: var(--lh-auto);
}

.kit-label p {
  margin: 0;
}

.kit-label-book p {
  transform: translateX(4rem) translateY(-1.1rem);
}

.kit-label-broche p {
  transform: translateX(4.5rem) translateY(-2.1rem);
}

.kit-label-bookmark p {
  transform: translateX(4.5rem) translateY(2.1rem);
}

.kit-label-book {
  top: -4%;
  left: -12%;
}

.kit-label-broche {
  top: 52%;
  left: -13%;
}

.kit-label-bookmark {
  bottom: 11%;
  right: 12%;
}

.kit-label-broche {
  top: 52%;
  left: -13%;

  opacity: 0;
  animation: kit-label-step-1 6s ease-in-out infinite;
}

.kit-label-book {
  top: -4%;
  left: -12%;

  opacity: 0;
  animation: kit-label-step-2 6s ease-in-out infinite;
}

.kit-label-bookmark {
  bottom: 11%;
  right: 12%;

  opacity: 0;
  animation: kit-label-step-5 6s ease-in-out infinite;
}

.kit-label-bookcap {
  display: block;
  width: 3.67rem;
  height: auto;
}

.kit-label-brooch {
  display: block;
  width: 2.2rem;
  height: auto;
}

.kit-label-arrow {
  display: block;
  width: 3.06rem;
  height: auto;
}

.kit-blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 95%;
  height: auto;

  z-index: 1;

  filter: blur(40px);
  opacity: 0.5;

  pointer-events: none;
}

@media (min-width: 1024px) {
  .kit {
    padding: 4rem 2rem;
  }

  .kit-inner {
    max-width: 60rem;
  }

  .kit-title {
    font-size: 2.5rem;
  }

  .kit-subtitle {
    font-size: 1.3rem;
    margin-bottom: 4rem;
  }

  .kit-icon {
    width: 5rem;
  }

  .kit-showcase {
    margin-top: 10rem;
  }

  .kit-orbit {
    max-width: 35rem;
    margin: 0 auto;
  }

  .kit-book {
    width: 50%;
  }

  .kit-broche {
    opacity: 0;
    visibility: hidden;
  }

  .kit-bookmark-yellow {
    opacity: 0;
    visibility: hidden;
  }

  .kit-bookmark-purple {
    opacity: 0;
    visibility: hidden;
  }

  .kit-label-book {
    opacity: 0;
    visibility: hidden;
  }

  .kit-label-broche {
    opacity: 0;
    visibility: hidden;
  }

  .kit-label-bookmark {
    opacity: 0;
    visibility: hidden;
  }

  .kit-blur {
    width: 100%;
    filter: blur(60px);
  }
}
