.kit-inner {
  max-width: 23rem;
  margin: 0 auto;
}

.kit {
  background-color: var(--color-shape-background);
  padding: 4rem 1rem;
}

.kit-header {
  text-align: center;
}

.kit-title {
  font-size: var(--title-xb);
  line-height: var(--lh-auto);
  color: var(--color-text-title);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.kit-subtitle {
  font-size: var(--body-sm);
  line-height: var(--lh-base);
  font-weight: var(--fw-regular);
  color: var(--color-text-cz);
  padding-top: 0.5rem;
  margin-bottom: 7rem;
}

.kit-icon {
  width: 2.5rem;
  height: auto;
  flex-shrink: 0;
}

.kit-showcase {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 2rem;
}

.kit-labels {
  margin-top: 3rem;
}

.kit-orbit {
  width: 100%;
  max-width: 23rem;
  display: grid;
  position: relative;

  place-items: center;
}

.kit-item {
  max-width: 100%;
  height: auto;
  display: block;

  grid-area: 1/1;
  position: relative;
}

.kit-bookmark {
  width: 15.8%;
}

.kit-broche {
  width: 20.20%;

  z-index: 4;

  transform: translateX(-113%) translateY(110%) rotate(1deg);
}

.kit-book {
  width: 42%;
  
  z-index: 5;
}

.kit-bookmark-yellow {
  z-index: 3;

  transform: translateX(150%) translateY(-30%) rotate(11.72deg);
}

.kit-bookmark-purple {
  z-index: 2;

  transform: translateX(207%) translateY(-11%) rotate(22.09deg);
}


.kit-label {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--tag);
  color: var(--color-text-label);
  font-weight: var(--fw-regular);
  line-height: var(--lh-auto);
}

.kit-label p {
  margin: 0;
}

.kit-label-book p {
  transform: translateX(4rem) translateY(-1.1rem);
}

.kit-label-broche p {
  transform: translateX(4.5rem) translateY(-2.1rem);
}

.kit-label-bookmark p {
  transform: translateX(4.5rem) translateY(2.1rem);
}

.kit-label-book {
  top: -4%;
  left: -12%;
}

.kit-label-broche {
  top: 52%;  
  left: -13%;
}

.kit-label-bookmark {
  bottom: 11%;
  right: 12%;
}


.kit-label-bookcap {
  display: block;
  width: 3.67rem;
  height: auto;
}

.kit-label-brooch {
  display: block;
  width: 2.20rem;
  height: auto;
}

.kit-label-arrow {
  display: block;
  width: 3.06rem;
  height: auto;
}
